
/* Medium spacing. */
@value spacing-m: 1.25rem;
/* Extra small spacing. */
@value spacing-xs: 0.5rem;
/* Large spacing. */
@value spacing-lg: 2rem;
/* Light grey brand colour */
@value color-brand-light-grey: #E3DFD7;
/* Dark grey brand colour. */
@value color-brand-dark-grey: #141413;
/* Background color for radio checked mark */
@value color-background-radio: #FFFFFF;
/* Small border radius */
@value border-radius-buttons: 100px;
/* Default border color. */
@value color-border-base: #44433F;
/* Form Element Background color */
@value color-background-form-element: #353432;
/* Brand text color. */
@value color-tab-active: #FFFFFF;
/* Extra Extra small spacing. */
@value spacing-xxs: 0.25rem;
/* Background color of toggle switch */
@value color-background-toggle: #353432;
/* Small spacing. */
@value spacing-s: 0.75rem;
/* Text color for form elements */
@value color-text-form-element: #FFFFFF;
/* Base animation length. */
@value duration-base: 500ms;
/* Background color for the application */
@value color-background-app: #353432;
/* Medium border radius */
@value border-radius-form-element: 100px;
/* Background color of page title */
@value color-background-page-title: #222222;
/* Primary Brand background color */
@value color-border-brand: #FF671B;
/* Background color of side navigation */
@value color-background-side-nav: #222222;
/* Background color for disabled elements */
@value color-background-disabled: #D3D3D3;
/* Brand Text color. */
@value color-text-brand: #FF671B;
/* Background color of message/page notification */
@value color-background-message: #222222;
/* Primary Brand background color */
@value color-background-brand: #FF671B;
/* Background color of message/page notification icon */
@value color-background-message-icon: #141414;
/* Text colour for application */
@value color-text-01: #FFFFFF;
/* Text color used to stand out on inverse background. */
@value color-text-inverse: #353432;
/* Base spacing. */
@value spacing-base: 1rem;
/* Base font family. */
@value font-family-base: Arial, Helvetica, sans-serif;
/* Background color of message/page notification icon */
@value color-background-message-icon-light: #222222;
/* Search Form Element Background color */
@value color-background-search: #353432;
/* Extra Large spacing. */
@value spacing-xl: 2.5rem;
/* White */
@value color-white: #FFFFFF;
/* Base font size. */
@value font-size-base: 1rem;
/* Accent Background color */
@value color-background-accent: #44433F;
