
:root {
  /* Medium spacing. */
  --spacing-m: 1.25rem;
  /* Extra small spacing. */
  --spacing-xs: 0.5rem;
  /* Large spacing. */
  --spacing-lg: 2rem;
  /* Light grey brand colour */
  --color-brand-light-grey: #E3DFD7;
  /* Dark grey brand colour. */
  --color-brand-dark-grey: #141413;
  /* Background color for radio checked mark */
  --color-background-radio: #FFFFFF;
  /* Small border radius */
  --border-radius-buttons: 100px;
  /* Default border color. */
  --color-border-base: #44433F;
  /* Form Element Background color */
  --color-background-form-element: #353432;
  /* Brand text color. */
  --color-tab-active: #FFFFFF;
  /* Extra Extra small spacing. */
  --spacing-xxs: 0.25rem;
  /* Background color of toggle switch */
  --color-background-toggle: #353432;
  /* Small spacing. */
  --spacing-s: 0.75rem;
  /* Text color for form elements */
  --color-text-form-element: #FFFFFF;
  /* Base animation length. */
  --duration-base: 500ms;
  /* Background color for the application */
  --color-background-app: #353432;
  /* Medium border radius */
  --border-radius-form-element: 100px;
  /* Background color of page title */
  --color-background-page-title: #222222;
  /* Primary Brand background color */
  --color-border-brand: #FF671B;
  /* Background color of side navigation */
  --color-background-side-nav: #222222;
  /* Background color for disabled elements */
  --color-background-disabled: #D3D3D3;
  /* Brand Text color. */
  --color-text-brand: #FF671B;
  /* Background color of message/page notification */
  --color-background-message: #222222;
  /* Primary Brand background color */
  --color-background-brand: #FF671B;
  /* Background color of message/page notification icon */
  --color-background-message-icon: #141414;
  /* Text colour for application */
  --color-text-01: #FFFFFF;
  /* Text color used to stand out on inverse background. */
  --color-text-inverse: #353432;
  /* Base spacing. */
  --spacing-base: 1rem;
  /* Base font family. */
  --font-family-base: Arial, Helvetica, sans-serif;
  /* Background color of message/page notification icon */
  --color-background-message-icon-light: #222222;
  /* Search Form Element Background color */
  --color-background-search: #353432;
  /* Extra Large spacing. */
  --spacing-xl: 2.5rem;
  /* White */
  --color-white: #FFFFFF;
  /* Base font size. */
  --font-size-base: 1rem;
  /* Accent Background color */
  --color-background-accent: #44433F;
}
